### pandas

In [65]:
import pandas as pd

In [66]:
labels = ['a', 'b', 'c']
my_list = [1, 2, 3]
arr = np.array(my_list)
d = {'a':10, 'b':20, 'c':30}

In [67]:
pd.Series(data=my_list)

0    1
1    2
2    3
dtype: int64

In [68]:
pd.Series(my_list, labels)

a    1
b    2
c    3
dtype: int64

In [69]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [70]:
np.random.seed(1)
df = pd.DataFrame(np.random.randn(5,4), index = 'A B C D E'.split(), columns='W X Y Z'.split())

In [71]:
df.head(3)

          W         X         Y         Z
A  1.624345 -0.611756 -0.528172 -1.072969
B  0.865408 -2.301539  1.744812 -0.761207
C  0.319039 -0.249370  1.462108 -2.060141

In [72]:
df

          W         X         Y         Z
A  1.624345 -0.611756 -0.528172 -1.072969
B  0.865408 -2.301539  1.744812 -0.761207
C  0.319039 -0.249370  1.462108 -2.060141
D -0.322417 -0.384054  1.133769 -1.099891
E -0.172428 -0.877858  0.042214  0.582815

In [73]:
df['W']

A    1.624345
B    0.865408
C    0.319039
D   -0.322417
E   -0.172428
Name: W, dtype: float64

In [74]:
df[['W', 'Z']]

          W         Z
A  1.624345 -1.072969
B  0.865408 -0.761207
C  0.319039 -2.060141
D -0.322417 -1.099891
E -0.172428  0.582815

In [75]:
df.W

A    1.624345
B    0.865408
C    0.319039
D   -0.322417
E   -0.172428
Name: W, dtype: float64

In [76]:
df['new'] = df['W']+df.Y

In [77]:
df

          W         X         Y         Z       new
A  1.624345 -0.611756 -0.528172 -1.072969  1.096174
B  0.865408 -2.301539  1.744812 -0.761207  2.610219
C  0.319039 -0.249370  1.462108 -2.060141  1.781147
D -0.322417 -0.384054  1.133769 -1.099891  0.811352
E -0.172428 -0.877858  0.042214  0.582815 -0.130214

In [78]:
df.drop('new', axis=+1)

          W         X         Y         Z
A  1.624345 -0.611756 -0.528172 -1.072969
B  0.865408 -2.301539  1.744812 -0.761207
C  0.319039 -0.249370  1.462108 -2.060141
D -0.322417 -0.384054  1.133769 -1.099891
E -0.172428 -0.877858  0.042214  0.582815

In [79]:
df

          W         X         Y         Z       new
A  1.624345 -0.611756 -0.528172 -1.072969  1.096174
B  0.865408 -2.301539  1.744812 -0.761207  2.610219
C  0.319039 -0.249370  1.462108 -2.060141  1.781147
D -0.322417 -0.384054  1.133769 -1.099891  0.811352
E -0.172428 -0.877858  0.042214  0.582815 -0.130214

In [90]:
df.loc[['A','C']].add(df.loc[['B','D']], fill_value=0)

          W         X         Y         Z       new
A  1.624345 -0.611756 -0.528172 -1.072969  1.096174
B  0.865408 -2.301539  1.744812 -0.761207  2.610219
C  0.319039 -0.249370  1.462108 -2.060141  1.781147
D -0.322417 -0.384054  1.133769 -1.099891  0.811352

In [85]:
df

          W         X         Y         Z       new
A  1.624345 -0.611756 -0.528172 -1.072969  1.096174
B  0.865408 -2.301539  1.744812 -0.761207  2.610219
C  0.319039 -0.249370  1.462108 -2.060141  1.781147
D -0.322417 -0.384054  1.133769 -1.099891  0.811352
E -0.172428 -0.877858  0.042214  0.582815 -0.130214